
@font-face {
    font-family: "Breaking Bad";
    src: url("../fonts/Heart Breaking Bad.otf");
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bitter";
    color: #D9D9D9;
    background-color: black;
}
.body{
    
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;

}.footer{
margin-top: 5%;

}
.footer-contacto{
    display: none;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5vw;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.main{
    align-self: center;
}

.header-nav{
    width:100%;

}
a {text-decoration: none}
.header-li{
    font-size: 1.2vw;
    list-style:none;
    transition: all 0.2s ease-in;


}
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}
.header-li--logo{
    width: 7vw;

}.header-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.font-breaking-bad{
    font-family: Breaking Bad;
    transition: all 0.2s ease-in;

}

.font-breaking-bad:hover{
    font-size: 3.7vw;
    
    transition: all 0.2s ease-in;

}
.font-breaking-bad::first-letter:hover{
    font-size: 3.7vw;
    color: #FDD929;
    transition: all 0.2s ease-in;
}
.font-breaking-bad-title{
    font-family: Breaking Bad;
    font-size: 5vw;
}
/*----------Animacion----------------*/
@keyframes mover-404{
    0%{left:0px}
    80%{left: 40vw; transform:rotate(10deg)}
    100%{
        left: 35vw;

    }
}
.mensaje{
    font-size: 2vw;
    animation-name: mover-404;
    animation-duration:2s;
    animation-delay: 0.5s;
    animation-fill-mode:forwards;
    position: relative;
}
@keyframes agrandar {
    0%{
        font-size: 2vw
    }
    50%{
        font-size: 2.5vw  ;
    }
    100%{
        font-size: 2vw;
    }
}
#a_1{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 2.5s;

}
#a_2{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 2.7s;

}
#a_3{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 2.9s;

}
#a_4{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 3.1s;

}
#a_5{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 3.3s;

}
#a_6{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 3.5s;

}
#a_7{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 3.7s;

}
#a_8{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 3.9s;

}
#a_9{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 4.1s;

}
#a_10{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 4.3s;

}
#a_11{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 4.5s;

}
#a_12{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 4.7s;

}
#a_13{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 4.9s;

}
#a_14{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 5.1s;

}
#a_15{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 5.3s;

}
#a_16{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 5.5s;

}
#a_17{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 5.7s;

}
#a_18{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 5.9s;

}
#a_19{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 6.1s;

}
#a_20{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 6.3s;

}
#a_21{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 6.5s;

}
#a_22{
    animation-direction:alternate;
    animation-name: agrandar;
    animation-duration:1s;
    animation-delay: 6.7s;

}


@media(max-width: 850px){
/*Modificacin footer y header para hacerlo resposive eliminando algunos elementos y reajustando su tamaño*/
.header-li--logo {
    width: 9vw;

}

.header-li {
    font-size: 3vw;
    list-style: none;
    transition: all 0.2s ease-in;


}

#header_contacto {
    display: none;
}

#header_inicio {
    display: none;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
}

.footer-condiciones {
    display: none;
}

.footer-cookies {
    display: none;
}

.footer-walter {
    display: none;
}

.footer-nosotros {
    display: none;
}

.footer-contacto {
    display: block;
}
}
/*-------------------------------*/

