@font-face {
    font-family: "Breaking Bad";
    src: url("../fonts/Heart Breaking Bad.otf");
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bitter";
    color: #D9D9D9;
    background-color: black;
}
.body{
    
    display: grid;

}.footer{
margin-top: 5%;

}
.footer-contacto{
    display: none;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5vw;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-nav{
    width:100%;

}
a {text-decoration: none}
.header-li{
    font-size: 1.2vw;
    list-style:none;
    transition: all 0.2s ease-in;


}
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}
.header-li--logo{
    width: 7vw;

}.header-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;



}.main{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

.font-breaking-bad{
    font-family: Breaking Bad;
    transition: all 0.2s ease-in;

}

.font-breaking-bad:hover{
    font-size: 3.7vw;
    
    transition: all 0.2s ease-in;

}
.font-breaking-bad::first-letter:hover{
    font-size: 3.7vw;
    color: #FDD929;
    transition: all 0.2s ease-in;
}
.font-breaking-bad-title{
    font-weight: normal;
    font-family: Breaking Bad;
    font-size: 5vw;
}
.nav-hr-vertical{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height: 75%;
    width:          1px;       
}
.image-hr-vertical{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height: 95%;
    width:          1px;    
    color: #d9d9d9;   
}
.main-episodios {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.main-episodio-div{
        padding: 1%;
        text-align: center;
        position: relative;



}
.main-episodio-image:hover{
    border: 2px solid #FDD929;
}

.main-episodio-image{
    width: 100%;

}
.title-episodio{
    text-align: center;
    position: relative;
    bottom :10%;
    height: 8.7%;
    width: 100%;
    background-color: #D9D9D980;
    color: black;
}
@media (max-width: 850px) {
    /*Modificacin footer y header para hacerlo resposive eliminando algunos elementos y reajustando su tamaño*/
    .header-li--logo {
        width: 9vw;

    }

    .header-li {
        font-size: 3vw;
        list-style: none;
        transition: all 0.2s ease-in;


    }
    .header-li:hover{
        font-size: 3vw;
        transition: all 0.2s ease-in;

    }

    #header_contacto {
        display: none;
    }

    #header_inicio {
        display: none;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3vw;
    }

    .footer-condiciones {
        display: none;
    }

    .footer-cookies {
        display: none;
    }

    .footer-walter {
        display: none;
    }

    .footer-nosotros {
        display: none;
    }

    .footer-contacto {
        display: block;
    }

/*-------------------------------*/


}