/*Importacion de fuente breaking bad*/
@font-face {
    font-family: "Breaking Bad";
    src: url("../fonts/Heart Breaking Bad.otf");
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
}
/*Eliminacion de padding y margis asi como aplicar el border box y el color de fondo y color de letra que va a tener toda la pagina por defecto*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bitter";
    color: black;
    background-color: #d9d9d9;
}
.body{
    
    display: grid;

}.footer{
margin-top: 5%;

}
.footer-contacto{
    display: none;
}
/*Display de footer y header de forma que quede todo bien alineado*/
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5vw;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-nav{
    width:100%;

}
/*Eliminacion de subrayado en enlaces*/
a {text-decoration: none}
/*Eliminacion de punto en las listas, asi como animacion al pasar el raton por encima*/
.header-li{
    font-size: 1.2vw;
    list-style:none;
    transition: all 0.2s ease-in;


}
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}
.header-li--logo{
    width: 7vw;

}.header-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.font-breaking-bad{
    font-family: Breaking Bad;
    transition: all 0.2s ease-in;

}

/*Asignacin de fuentes para el titulo de la pagina que es el personaje*/

.font-breaking-bad-title{
    padding-top: 1.5%;
    justify-self:center;
    grid-column-start: 2;
    font-family: Breaking Bad;
    font-size: 5vw;
    font-weight: normal;
}
.main-description-h2{
    padding-top: 1.5%;
    font-size: 2vw;
    font-weight: normal;
    grid-column-start: 2;
}
/*Asignacion de tamañlo para cada linea de parrafo*/

p{
    padding-top: 1.5%;
    font-size: 0.90vw;
}
/*Disposicion de todas las linead del parrafo*/

.main-parrafo{
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 2;
    justify-self:center;
}
.main{
    
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;

}
/*Disposicion de la imagen del personaje asi como una mascara de recorte*/

.main-image{
    padding-top: 1.5%;
    justify-self:center;
    object-fit: cover;
    object-position: right;
    width: 100%;


}
div{
    grid-column-start: 2;
    overflow: hidden;
    height:  80%;

}
.main-parrafo p{
    font-size: 1vw;
}
/*Media query para que la web sea responsive a partir de este punto toda pantalla que sea inferior a 850px se le aplicara este css*/

@media(max-width: 850px) {
    /*Se ajusta el tamaño de las fuentes y se centra todo*/

    .main{
        display: flex;
        flex-direction: column;
        margin: 3%;
    }
    .font-breaking-bad-title{
        text-align: center;
    }
    .main-description-h2{
        font-size: 4vw;
    }
    .main-parrafo p{
        font-size: 1.7vw;
    }
    .main-image{
        height: 70%;
    }
    /*Modificacin footer y header para hacerlo resposive eliminando algunos elementos y reajustando su tamaño*/
    .header-li--logo {
        width: 9vw;

    }

    .header-li {
        font-size: 3vw;
        list-style: none;
        transition: all 0.2s ease-in;


    }
    .header-li:hover{
        font-size: 3vw;
        transition: all 0.2s ease-in;

    }

    #header_contacto {
        display: none;
    }

    #header_inicio {
        display: none;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3vw;
    }

    .footer-condiciones {
        display: none;
    }

    .footer-cookies {
        display: none;
    }

    .footer-walter {
        display: none;
    }

    .footer-nosotros {
        display: none;
    }

    .footer-contacto {
        display: block;
    }
}
/*-------------------------------*/
