/*Importacion de fuente breaking bad*/
@font-face {
    font-family: "Breaking Bad";
    src: url("../fonts/Heart Breaking Bad.otf");
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
}
/*Eliminacion de padding y margis asi como aplicar el border box y el color de fondo y color de letra que va a tener toda la pagina por defecto*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bitter";
    color: black;
    background-color: #D9D9D9;
}
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}
/*Eliminacion de subrayado en enlaces*/
a {text-decoration: none}
.body{
    
    display: grid;

}.footer{
margin-top: 5%;

}
.footer-contacto{
    display: none;
}
/*Display de footer y header de forma que quede todo bien alineado*/
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5vw;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-nav{
    width:100%;

}
/*Eliminacion de punto en las listas, asi como animacion al pasar el raton por encima*/

.header-li{
    font-size: 1.2vw;
    list-style:none;
    transition: all 0.2s ease-in;


}
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}.header-li--logo{
    width: 7vw;

}.header-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
/*Display del main utilizando grid, haciendo 3 columnas iguales*/
.main{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;





}
/**/
.main-walterphoto{
    width:  100%;
}.main-jessiephoto{
    width:  100%;
}
 /*Se establece el color de los inputs asi como su tamaño y estilos*/
.form-button{
    width: 20%;
    font-size: 1.75vw;
    font-family: "Breaking Bad";
    border: 1px solid black;
}
.main-form{

    font-family: "Breaking Bad";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    height: 80%;


}
.form-message{
    resize: none;
    height: 25%;
    font-size: 0.88vw;
    border: 1px solid black;
}
.form-inputs{
    
    border:0;
    font-size: 1vmax;
    border-bottom:1px solid black;;

}
/*Esta clase se mostrara cuando el calor introducido se incorrecto y se pondra el campo rojo*/
.form-inputs-error{
    border:0;
    font-size: 1vw;
    border-bottom:1px solid red;
}
.form-checkboxs{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
    background-color: #d9d9d9;
}
.span_error_forms{
    color: red;
    font-size: 0.8vw;    

}
.span_error_forms_mensaje{
    text-align: left;
    color: red;
    font-size: 0.8vw;
}
.contador_mensaje{
    text-align: right;
}
.main-nav-font{


}
/*Disposicion de los inputs dentro de su espacio*/
.main-form-inputs{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: space-around;
    height:75%;
    margin-left: 2%;

}.main-title{
    grid-column-end: 4;
    grid-column-start: 2;

}.main-title-h1{
    font-weight: normal;
    font-size: 3vw;

}.main-title-image{
    height: 100%

}
@media (max-width: 1000px) {
    /*Para el responsive se elimnara las dos fotos para ser mas apreciable el formulario*/
    .main-walterphoto{
        display: none;
    }
    .main-jessiephoto{
        display: none;
    }
    /*Se redimensiona todo para tener un tamaño acorde para el nuevo tamaño de la pantalla*/
    div span{
        font-size: 3vw;
    }
    .main-form-inputs{
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        justify-content: space-around;
        height:100%;
        margin-left: 2%;

    }
    .main-form{

        font-family: "Breaking Bad";
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 900px;


    }
    .main{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .form-message{
        resize: none;
        height: 25%;
        font-size: 3vw;
        border: 1px solid black;
    }
    .form-inputs{

        border:0;
        font-size: 3vw;
        border-bottom:1px solid black;

    }
    .form-button{
        font-size: 5vw;
    }
    .form-inputs-error{
        border:0;
        font-size: 6vw;
        border-bottom:1px solid red;
    }
    .form-checkboxs{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-family: arial;
        background-color: #d9d9d9;
    }
    .span_error_forms{
        color: red;
        font-size: 3vw;

    }
    .span_error_forms_mensaje{
        text-align: left;
        color: red;
        font-size: 3vw;
    }
    /*Modificacin footer y header para hacerlo resposive eliminando algunos elementos y reajustando su tamaño*/
    .header-li--logo {
        width: 9vw;

    }

    .header-li {
        font-size: 3vw;
        list-style: none;
        transition: all 0.2s ease-in;


    }
    .header-li:hover{
        font-size: 3vw;
        transition: all 0.2s ease-in;

    }

    #header_contacto {
        display: none;
    }

    #header_inicio {
        display: none;
    }

    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3vw;
    }

    .footer-condiciones {
        display: none;
    }

    .footer-cookies {
        display: none;
    }

    .footer-walter {
        display: none;
    }

    .footer-nosotros {
        display: none;
    }

    .footer-contacto {
        display: block;
    }
}
/*-------------------------------*/
/*Aplicacion de la fuente importada a una clase para usarla despues en el main*/

.font-breaking-bad{
    font-family: Breaking Bad;
}
.font-breaking-bad-title{
    font-family: Breaking Bad;
    font-size: 5vw;
}
.form-hr-vertical{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height: 75%;
    width:          1px;       
}
.image-hr-vertical{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height: 95%;
    width:          1px;       
}
.contador_mensaje{
    align-self: flex-end;
    
}

