/*Importacion de fuente breaking bad*/
@font-face {
    font-family: "Breaking Bad";
    src: url("../fonts/Heart Breaking Bad.otf");
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
}
/*Eliminacion de padding y margis asi como aplicar el border box y el color de fondo y color de letra que va a tener toda la pagina por defecto*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Bitter";
    color: black;
    background-color: #d9d9d9;
}
.body{
    
    display: grid;

}.footer{
margin-top: 5%;

}
.footer-contacto{
    display: none;
}

/*Display de footer y header de forma que quede todo bien alineado*/
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5vw;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-nav{
    width:100%;

}
/*Eliminacion de subrayado en enlaces*/
a {text-decoration: none}
/*Eliminacion de punto en las listas, asi como animacion al pasar el raton por encima*/
.header-li{
    font-size: 1.2vw;
    list-style:none;
    transition: all 0.2s ease-in;

}
/*Animacion de rotacion de logo*/
.header-li:hover{
    font-size: 1.5vw;
    transition: all 0.2s ease-in;

}.header-li--logo{
    width: 7vw;

}.header-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
 /*Nuevo display flex para presentar a los personajes*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}
.main-h1{
    font-family: "Breaking Bad";
    font-weight: normal;
    font-size: 4vw;
}
/*DIsplay personajes, solo se le da el 50% del ancho de la pantalla
para que este en el medio y tenga unos margenes bien marcados*/
.main-personajes{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*Cada personaje ocupa un tercio de ese 50%, aqui se aplica una mascara de recorte con el overflow*/
.main-personaje-div{
    width: 33%;
    position: relative;
    padding: 1%;
    text-align: center;
    overflow: hidden;
    

}
.main-personaje-div:hover{
    border: #FDD929 1px solid;
}
/*Aqui se hace que la foto ocupe el 100% de su tamaño pero que este centrado y que se recorte al tamaño de su padre*/
.pesonaje-foto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
/*Media query para que la web sea responsive a partir de este punto toda pantalla que sea inferior a 850px se le aplicara este css*/

@media (max-width: 850px) {
    /*Se hace que el display de los personajes sea distinto haciendo que ocupe el 100 de la patantalla*/
    .main-personajes{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /*Ahora en vez de 3 columnas solo hay 2 columnas de personajes*/
    .main-personaje-div{
        width: 40%;
        position: relative;
        padding: 1%;
        text-align: center;
        overflow: hidden;


    }
    /*Modificacin footer y header para hacerlo resposive eliminando algunos elementos y reajustando su tamaño*/
    .header-li--logo{
        width: 9vw;

    }
    .header-li{
        font-size: 3vw;
        list-style:none;
        transition: all 0.2s ease-in;


    }
    .header-li:hover{
        font-size: 3vw;
        transition: all 0.2s ease-in;

    }
    #header_contacto{
        display: none;
    }
    #header_inicio{
        display: none;
    }
    .footer-nav{
        display: flex;
        align-items: center;
        justify-content:space-around;
        font-size: 3vw;
    }
    .footer-condiciones{
        display: none;
    }
    .footer-cookies{
        display: none;
    }
    .footer-walter{
        display: none;
    }
    .footer-nosotros{
        display: none;
    }
    .footer-contacto{
        display: block;
    }
    /*-------------------------------*/
}

.font-breaking-bad{
    font-family: Breaking Bad;
}
.font-breaking-bad-title{
    font-family: Breaking Bad;
    font-size: 5vw;
}.title-personajes{
    text-align: center;
    position: relative;
    bottom :10%;
    height: 8.7%;
    width: 100%;
    background-color: black;
    color: #d9d9d9;
}
